body{
    display: grid;
    grid-template-columns: auto; 
  /* border: 1px solid;     */
}

.navbar{
    border: solid 1px #fffbfb;
    display: flex;
    justify-content: space-evenly ;
        align-items:center; 
        background-color: rgb(17, 17, 18);
        color: white;   
        
}
.box:hover{
    border: solid 1px white;
}
.logo-amazon{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(../05-12-23/amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
    
}
.logo:hover{
    transform: rotatey(45deg);
}

.nav-address:hover{
    font-size:large;
    font-style: italic;
    }

.nav-signin:hover{
    font-size:large;
    font-style: italic;

}
.nav-return:hover{
    font-size:large;
    font-style: italic;
}
.nav-cart:hover{
    font-size:large;
    font-style: italic;
}

/* Panel */
.panel-bar{
    display: grid;
    grid-column: 1/5;    
border: 1px solid;
background-color: rgb(241, 161, 105);

   
}
.panel-names p{
    display: grid;
grid-template-columns: auto auto ;   
grid-row: 1/5;    
display: inline;
transform: scalex(2);
gap: 100px;


}

.section-1{
   
    display: grid;
    grid-template-columns: auto auto;
    display: inline;
    grid-row:2/5;
    border: 1px solid;
    gap: 80px;
    background-color: rgb(95, 236, 241);
    margin-bottom: 50px;
    text-align: center;

}

.Section-2{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
   gap: 100px;   
   background-color: rgb(184, 129, 236);
 }

.boxes{
    margin-top: 20px;
    display: grid;
    gap:100px;
    border: 1px ridge black;
   text-align: center;
   transform: translateX(20px);
   grid-template-rows: 50px;
   background-color: rgb(159, 243, 167);
   margin-bottom: 20px;

   }
.footer{
    margin-top: 2px;
    display: grid;
    text-align: center;
    transform: translateX(0px);
    grid-template-rows: 20px;
    background-color: rgb(4, 92, 12);
    color: aliceblue;
    padding: 50px;
    
}