pre{
    line-height: 2;
    text-align: center;
    
    }

    sup{
        text-decoration-line: line-through;
     
    }
    sub{
        text-decoration-line:line-through;
    
    }

    span{
        text-decoration-line: underline overline
        
    }
  