*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
   
      }
      .navbar{
        height: 65px ;
        background-color: #04670cc8;
        color: white;
        display: flex ;
        justify-content: space-evenly ;
        align-items:center;    
    }
    .logo-amazon{
        height: 50px;
        width: 100px;
        
    }
    .logo{
        background-image: url(./amazon_logo.png);
        height: 50px;
        width: 100%;
        background-size: cover;
    }
    .box{
      border: 2px solid transparent;    
    }
    .box:hover{
        border: 2px solid white;

    }

    .first{
        color: #CCCCCC;
         margin-left: 15px;
             
    }
    .second{
       
        margin-left: 10px;
    }
    .nav-address-icon{
      
        display: flex;
                align-items: center ;
    }
    /* search-bar */
    .nav-search{
        
         height: 60px;
         width: 839.51;
         display: flex;
         justify-content: space-evenly;
         border-radius: 4px;
    }
    .search-select{
      background-color: #f3f3f3;
      width: 51.6px;
      padding-left: 5px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: none;
    }
  .search-input{     
      width: 715.9px;
      border: none;
  }
  .search-icon{
      background-color: #febd68;
       width: 46px;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 61px;
       border-top-right-radius: 4px;
       border-bottom-right-radius: 4px;
            
  }
  /* Panel */
.panel-bar{
    height: 40px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 110, 55);
}
    
.panel-names p{
    display: inline;
    margin-left: 20px;
    border: 1px solid transparent;
    padding: 8px;

}
.panel-names p:hover{
    border: 1px solid white;
}

.panel-names{
    width: 1200px;
}
.panel-all{
    border: 1px solid transparent;
    padding: 5px;
}
.panel-all:hover{
    border: 1px solid white;  

}
/* section-1 */
.section-1{
    background-image: url(./xs.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sec-msg {
    background-color: white;
   height: 40px;
   display: flex;
   justify-content: center;
   word-spacing: 2px;
   align-items: center;
   margin-bottom: 20px;
   width: 80%;
}

/* section-2 */

.Section-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(222, 171, 189);

}
.bgimage{
    
    height: 300px;
    background-size: cover;
    margin-top: 14px;
    margin-bottom: 16px;
}

.gallery{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    
    margin-top: 15px;
}
.boxes{
    margin-left: 15px;
    margin-right: 16px;
}
.boxes p {
    font-size: large;
    color: rgb(26, 12, 17);
}